@font-face {
    font-family: 'Black Lives Matter Oakland';
    src: url('BlackLivesMatterOakland.woff2') format('woff2'),
        url('BlackLivesMatterOakland.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Black Lives Matter Oakland';
    src: url('BlackLivesMatterOakland.woff2') format('woff2'),
        url('BlackLivesMatterOakland.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

